@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-slate-50 dark:bg-black dark:text-white scroll-smooth;
}

.hero-sub-text {
  animation: switch-text 12s infinite ease-in-out;
}

.hero-sub-text:nth-child(1) {
  animation-delay: -12s;
}

.hero-sub-text:nth-child(2) {
  animation-delay: -8s;
}

.hero-sub-text:nth-child(3) {
  animation-delay: -4s;
}

@keyframes switch-text {
  0%, 20%, 100% {
    filter: blur(0px);
    opacity: 1;
  }
  60%, 80% {
    filter: blur(180px);
    opacity: 0;
  }
}